<!DOCTYPE html>
<html>
    <head>
        <title>Todo Lists</title>
    </head>
    <body>
        <div>
            <h1>Create a new list</h1>
            <form method="post">
                {% csrf_token %}
                Name:
                <input type="text" name="name">
                <button>Submit</button>
            </form>
        </div>
    </body>