<!DOCTYPE html>
<html>
    <head>
        <title>Todo Lists</title>
    </head>
    <body>
        <main>
            <div>
                <h1>{{ todolist.name }}</h1>
                <p>
                    <a href="{% url 'update_todolist' todolist.id %}">Edit</a>
                </p>
                <p>
                    <a href="{% url 'delete_todolist' todolist.id %}">Delete</a>
                </p>
                <h2>Tasks</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Task</th>
                            <th>Due Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for todoitem in todolist.items.all %}
                        <tr>
                            <td>{{ todoitem.task }}</td>
                            <td>{{ todoitem.due_date }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </body>