<!DOCTYPE html>
<html>
    <head>
        <title>Todo Lists</title>
    </head>
    <body>
        <main>
            <div>
                <h1>Update list</h1>
                <form method="post">
                    {% csrf_token %}
                    Name:
                    <input type="text" name="name">
                    <button>Update</button>
                </form>
            </div>
        </main>
    </body>