<!DOCTYPE html>
<html>
    <head>
        <title>Todo Lists</title>
    </head>
    <body>
        <main>
            <div>
                <h1>My Lists</h1>
                <p>
                    <a href="{% url 'create_todolist' %}">Create a new list</a>
                </p>
                <p>
                    <a href="{% url 'create_todoitem' %}">Create a new item</a>
                </p>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of Items</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for todos in todolist_view %}
                        <tr>
                            <td><a href="{% url 'show_todolist' todos.pk %}">{{ todos.name }}</a></td>
                            <td>{{ todos.items.all|length }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>